@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims
<div class="inventory">
    @if (User.IsInRole("Manager"))
    {
        @Html.ActionLink("Add A New Item", "New")
        <form id="stock-form" >
            <label for="amount" id="stock-label"></label>
            <input type="number" id="amount" value="0" />
            <button type="submit">Go!</button>
        </form>
    }
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Stock</th>
            @if (User.IsInRole("Manager"))
            {
                <th>Manager Actions</th>}
        </tr>
        <tbody class="tbody"></tbody>

    </table>
</div>

<script>

    //ajax call 
    $.ajax({
        type: 'GET',
        url: '@Url.Action("HelloAjax")', success: function (result) {
            result.forEach(function (item) {
                $(".tbody").append(
                    "<tr>" + 
                    "<td>" + item.name + "</td>" + 
                    "<td>" + item.cost + "</td>" + 
                    "<td>" + item.amount + "</td>" +
                    "<td>" +
                    "<a href='Inventory/Add/" + item.itemId + "'>Add Stock</a> | " +
                    "<a href='Inventory/Delete/" + item.itemId + "'>Delete</a>" +
                    "</td>" +
                    "</tr>"
                )
            })
        }
    });
</script>