
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Access Denied</h2>
<h4>Please stay where you are. The police are on their way.</h4>
<img src="~/images/notsafe.gif" />

<br />
<img src="~/images/cops.gif" /><img src="https://78.media.tumblr.com/1429054d94f06ba1ae44ab5899590fc1/tumblr_n6si4fJ42e1sl3euto1_500.gif" />
<br />
<br />
<img src="~/images/notsafe.gif" />
<img src="~/images/anything.gif"/>