@{
    ViewData["Title"] = "Contact";
}

<h2>Like what we do? Drop us a line!</h2
<address>
    400 SW 6th Ave 8th Floor<br />
    Portland, OR 97204<br />
    <abbr title="Phone">503-432-5529</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:nico.daunt@gmail.com">Support@WeinerSales.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:nico.daunt@gmail.com">Marketing@WeinerSales.com</a>
</address>
