@{
    ViewData["Title"] = "Home Page";
}

<h2 class="dog">Get your buns in line. Weiner Solutions for the real world.</h2>
            <img src="~/images/banner1.png" alt="ASP.NET" class="img-responsive" />
 
    
</div>


</div>
